@import url(https://fonts.bunny.net/css?family=plus-jakarta-sans:200,200i,300,300i,400,400i,500,600,800);
/* @layer reset, defaults, patterns, components, utilities, overrides; */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v135/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.button-group > button:not(:first-child):not(:last-child) {
  border-radius: 0;
  border-right: none;
  border-left: none;
}

.button-group > button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group > button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-group > .toggle:not(:first-child):not(:last-child) {
  border-radius: 0;
  border-right: none;
  border-left: none;
}

.button-group > .toggle:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group > .toggle:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

button,
input {
  @apply focus:outline-none
  focus:ring-2
  focus:ring-offset-2
  focus:ring-blue-500;
}
